<h1 class="">Presentation Outline</h1>
<br>
<div class="outline">
    <ul>
        <li>
            What is KnockoutJS?

            <ul>
                <li>Library vs. Framework</li>
                <li>MVVM Pattern</li>
                <li>Knockout Class Hierarchy</li>
                <!--<li>Magical Bindings</li>-->
            </ul>
        </li>
        <li>
            Introduction / Basic Examples

            <ul>
                <!--<li>Basic binding</li>-->
                <li>Observables + Computed Observables</li>
                <li>Arrays + Templating</li>
            </ul>
        </li>
        <li>
            Structuring your View Model
            <ul>
                <li>Common Patterns</li>
                <li>Managing Collections</li>
                <!--<li>Compound ViewModels</li>-->
                <li>Widgets</li>
            </ul>
        </li>
        <li>
            Custom Binding Handlers

            <ul>
                <li>Why you should use them more than you do</li>
                <li>Common Examples</li>
                <li>Working with External Frameworks / plugins</li>
            </ul>
        </li>
        <li>
            Extending Knockout Base Classes
        </li>
        <!--<li>-->
            <!--Why Conventional Patterns?-->
        <!--</li>-->
    </ul>
</div>