<h1 class="" style="text-align: center;">Thank You</h1>
<br>
<div class="subtitle">
    <div>
        <a href="http://tech.pro">
            <img src="img/techpro.png" style="width:400px;"/>
        </a>
    </div>
    <br>
    <div>
        <a href="http://platformhouston.com">
            <img src="img/platform.png" style="width:400px;"/>
        </a>
    </div>
    <br>
    <div>
        <p>
            <a href="http://bit.ly/divingintoknockout">bit.ly/divingintoknockout</a>
        </p>
        <p>
            <a href="http://twitter.com/intelligibabble">@intelligibabble</a>
            &nbsp;&nbsp;
            <a href="http://tech.pro/leland">tech.pro/leland</a>
        </p>
        <p style="font-size:14px; color: #444;">
            Forked <a href="https://github.com/rniemeyer/SamplePresentation">Presentation Framework</a> built by <a href="http://www.knockmeout.net/">Ryan Niemeyer</a>
        </p>
    </div>
</div>