<h1 class="center">Diving Into Knockout.JS</h1>
<br>
<div class="subtitle">
    <p>Leland Richardson</p>
    <p>
        <a href="http://twitter.com/intelligibabble">@intelligibabble</a>
    </p>
    <p>
        <a href="http://tech.pro/leland">tech.pro/leland</a>
    </p>
    <br>
    <p>
        Follow Along: <a href="http://bit.ly/divingintoknockout">bit.ly/divingintoknockout</a>
    </p>
    <p style="font-size: 14px; color: #888;">
        Note: use <code>ALT + {UP|DOWN|LEFT|RIGHT}</code> to navigate
    </p>
</div>